<%= form_for (@payment),:html=>{:class =>'form-horizontal'} do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation" class="alert alert-error alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h4>
      <ul>
        <% @payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div id="error_explanation" class="alert alert-error alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= flash[:notice] %></h4>
    </div>
  <% end %>

  <%= f.hidden_field :status_id, value:@payment.status.id %>

  <% if @payment.status.is_denied? %>
    <div class="control-group">
      <%= f.label "Account:", class: "control-label" %>
      <div class="controls">
        <%= f.text_field "account_number", class: "span5",value:@payment.account.account_number, disabled:true %>
        <%= f.hidden_field :account_id, value:@payment.account.id %>
      </div>
    </div>
  <% else %>
    <div class="control-group">
      <%= f.label "Account:", class: "control-label" %>
      <div class="controls">
        <%= f.select :account_id, options_from_collection_for_select(@accounts, "id", "account_number") %>
      </div>
    </div>
  <% end %>


  <div class="control-group">
	<%= f.label :iban,"Remote IBAN:", class: "control-label" %>
    <div class="controls">
	  <%= f.text_field :iban,required: true, maxlength: 34, class: "span5",disabled:@payment.status.is_denied? %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name,"Remote Name:", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, required: true, maxlength: 70, class: "span5",disabled:@payment.status.is_denied? %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :bic,"Remote BIC:", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :bic, required: true,maxlength: 11, class: "span5",disabled:@payment.status.is_denied? %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :amount,"Amount:", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :amount, required: true,maxlength: 7, class: "span2",disabled:@payment.status.is_denied? %>
    </div>
  </div>

  <% if @payment.is_denied? %>
    <div class="control-group">
      <label class="control-label" for="inputref">Reject Reference:</label>
      <div class="controls">
	      <%= f.text_area :txt_rejected_reference, {required: true, class: "span5",rows: 5} %>
      </div>
    </div>
  <% else %>
    <div class="control-group">
      <label class="control-label" for="inputref">Reference:</label>
      <div class="controls">
        <%= f.text_area :txt_reference, {required: true, class: "span5",rows: 5} %>
      </div>
    </div>
  <% end %>
  
  <div class="control-group">
    <div class="controls">
	  <%= f.submit ( f.object.new_record? ? "Create Payment" : "Update Payment"),{class: "btn btn-default span2"} %>
	</div>
  </div>
<% end %>
