<!DOCTYPE html>
<html>
<head>
  <title>CMAT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
	<title>CMAT</title>
</head>
<body class="classic">
<div id="wrapper">
<%= render "layouts/header" %> 
<%= yield %>
<%= render "layouts/footer" %>
</div>
</body>
</html>
